@import '../../common-styles/variables.scss';

.wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: $z-index-result;
  top: 0;
  left: 0;
  background: $bg-main;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    list-style: none;
    color: $main-yellow;
    margin-top: 100px;
    text-align: center;

    li {
      margin-top: 20px;
      font-size: 1.5em;
    }
  }

  h2 {
    color: $main-yellow;
    font-size: 2.5em;
  }

  .restart {
    display: block;
    margin: 30px auto 0;
    font-size: 2rem;
  }
}