.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.words-container {
  position: relative;
  line-height: 1.625;
  word-break: break-all;
}

.repeat-btn {
  font-size: 2rem;
  display: block;
  margin: 10px auto 0;
}